

/* settings */
@media screen and (min-width: 782px){
  .cb-admin-flex {
    display: flex;
  }
}

@media screen and (min-width: 782px){

.cb-admin-flex div{
  padding: 0 15px;
}
  .cb-admin-flex div:first-child{
    padding-left: 0px;
  }
}

.cb-admin-booking-actions a{
  min-width: 70%;
  text-align: center;
}


.cb-hold-sunset-initiation p {
  margin-top: 1em;
}


.cb-admin-multiselect {
  min-height: 120px
}

* {
	box-sizing: border-box;
}
.cb-admin-calendar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: wrap;
      -ms-flex-flow: wrap;
	flex-flow: wrap;
	font-size: 0;
}

.cb-admin-calendar time {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-webkit-flex: 1 1 14.2857%;
      -ms-flex: 1;
	flex: 1;
	min-width: 14.2857%;
	max-width: 14.2857vw;
	position: relative;
	font-size: 1.8vw;
	line-height: 0;
	-webkit-transition: .35s opacity;
	transition: .35s opacity;
}
.cb-admin-calendar time.blank {
	min-height: 14vw;
}
.cb-admin-calendar time a {
	display: inline-block;
	width: 100%; height: 100%;
	position: inherit;
	border-bottom: none;
	outline: none;
 }


 /* Admin Menu Single Booking */

  .cb-hold-booking .cb-book-now-container input {
    width: 100%;
    margin-bottom: 3px
  }

 .cb-admin-form-addbooking {
  background-color: #f1f1f1;
  overflow-y: scroll;
  max-height: 400px;
 }

.cb-open-booking {
  cursor: pointer;
}

.cb-hold-booking {
  position: fixed;
  max-width: 100%;
  background: #fff;
  z-index: 100000;
}

@media screen and (max-width: 782px){
  .cb-hold-booking {
    top: 50px;
    width: 100vw;
    height: auto;
    max-height: 100%;
  }
}

@media screen and (min-width: 782px){
  .cb-hold-booking {
    min-width: 600px;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }
}


.cb-booking-modal-backdrop {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 360px;
    background: #000;
    opacity: .7;
    z-index: 99900;
    display: none;
}

  .cb-hold-booking .modal-header {
    height: auto;
    min-height: 54px;
    background: #fcfcfc;
    padding: 0 15px;
    border-bottom: 1px solid #ddd;
 }

 .cb-hold-booking .modal-header h2{
   margin: 0;
   padding: 10px 0 0 0;
 }

 .cb-hold-booking .modal-close-link {
   cursor: pointer;
    color: #777;
    height: 54px;
    width: 54px;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    border: 0;
    border-left: 1px solid #ddd;
    background-color: transparent;
 }

 .cb-booking-container {
   padding: 10px 20px;
 }

 .cb-booking-container h3{
   font-size: 1.1em;
   margin-bottom: 3px;
 }

 .cb-booking-container .cb-strong-indent {
   font-weight: bold;
   margin-left: 20px;
 }

/* bookings */
.cb-admin-bookings .wp-list-table tbody td {
  padding: 1em;
}

 .cb-smaller-font {
   font-size: 0.9em;
 }

.cb-admin-bookings .order-status,  .cb-hold-booking .order-status{
  line-height: 26px;
  padding: 0 10px !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  line-height: 2.5em;
  color: #777;
  background: #e5e5e5;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin: -.25em 0;
  cursor: inherit!important;
  white-space: nowrap;
  max-width: 100%;
  }

.cb-hold-booking .order-status {
  margin-top: 15px;
}

.cb-admin-bookings .status-confirmed, .cb-hold-booking .status-confirmed{
   background: #c6e1c6;
   color: #5b841b;
  }

.cb-admin-bookings .status-reserved, .cb-hold-booking .status-reserved{
  background: #f8dda7;
  color: #94660c;
}

.cb-admin-bookings .status-reserved, .cb-hold-booking .status-on-hold{
  background: #f8dda7;
  color: #94660c;
}

.cb-admin-bookings .status-pending-finalbalance, .cb-hold-booking .cb-admin-bookings .status-pending-finalbalance{
  background: #eba3a3;
  color: #761919;
}

.cb-grey {
  color: #A9A9A9;
  font-style: italic;;
}

.cb-admin-bookings .narrowest{
  width: 5%;
}

.cb-admin-bookings .width-12{
  width: 12%;
}

.woocommerce_page_cb-bookings .float-right {
  float: right;
}

.woocommerce_page_cb-bookings .float-left {
  float: left;
}

.view-switch > a {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 5px;
}

.woocommerce_page_cb-bookings .subsubsub a {
  cursor: pointer;
}

.woocommerce_page_cb-bookings .view-switch .current {
  color: #000;
}

.woocommerce_page_cb-bookings .week-view .hold-bookings {
  display: flex;
  justify-content: flex-start;
}
.woocommerce_page_cb-bookings .week-view .hold-bookings .admin-booking {
  padding: 0 5px;
}

.woocommerce_page_cb-bookings .week-view .hold-bookings .confirmed  a {
  color: #5b841b;
}

.woocommerce_page_cb-bookings .week-view .hold-bookings .on-hold  a {
  color: #777;
}

#woocommerce-product-data .form-field {
  padding: 5px 20px 0px 162px !important;
}

#woocommerce-product-data .form-field h4 {
  margin-bottom: 0px;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}